{% extends 'admin_nav.html' %}

{% load static %}
{% block body %}


<!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
    $('#example').DataTable();
} );
</script>

<link rel ="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap.min.css"> -->

<style>
    .doabout{
        margin-top:30px;
        padding-top: 10px;
    }
</style>



<div class="container mt-5">
    <h2 class="doabout text-center"></i><b>EVENT SCHEDULE</b></h2>
    <hr>
  
    <div class="row">

        <div class="col-sm-6">

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">

                </div>
                <div class="form-group">
                    <label>Schedule Name:</label>
                    <input type="text" class="form-control" placeholder="Schedule name" name="schedulename">
                </div>
                 
                <div class="form-group">
                  <label>Event Type:</label>
                  <select class = "form-control" name="eventtype">
                        <option value="">---Select event type---</option>
                        <option value="Yoga">Yoga</option>
                        <option value="Best Exercises for Pregnancy">Best Exercises for Pregnancy</option>
                        <option value="Clean stamp of baby’s footprint">Clean stamp of baby’s footprint</option>
                        <!-- <option value="six">TEXT</option>
                        <option value="six">IMAGE</option>
                        <option value="six">ZIP</option> -->
                    </select>
                </div>
                <div class="form-group">
                    <label>Schedule Date:</label>
                    <input type="date" class="form-control" name="scheduledate">
                 </div>
                 <div class="form-group">
                    <label>Schedule Time:</label>
                    <br>
                    <label>From</label>
                    <input type="time" class="form-control" name="scheduletimefrom">
                    <label>To</label>
                    <input type="time" class="form-control" name="scheduletimeto">
                 </div>
                <div class="form-group">
                  <label>Description:</label>
                  <input type="text" class="form-control" name="scheduledDes">
                </div>

                <button type="submit" class="bb btn btn-warning">ADD</button><hr><hr>
              </form>

        </div>

        <div class="col-sm-6">
            <img src="{% static 'images/event.jpg' %}"  class="img-thumbnail" style="width:110%">
        </div>
    </div>
</div>


{% ifequal error "no" %}
<script>
    alert('event uploaded Successfully');
    // window.location=("{% url 'login' %}");
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Something went Wrong, Try again');
</script>
{% endifequal %}

{% endblock %}