{% extends 'user_nav.html' %}
{% load static %}
{% block body %}


<style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 95%;
      margin-left: 32px;
      margin-top: 45px;
    
    }
    
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    .container {
      padding: 2px 16px;
    }
    </style>
    </head>
    <body>
    
    <h2 style="text-align: center;margin-top: 35px;">Food Details</h2>
    
    <div class="card">
        {% for i in notes %}
      
            <h4 style="text-align: center;margin-top: 15px;"><b>{{i.name}}</b></h4>
            <div class="container" style="display: flex;">
                <img src="{{i.image.url}}" alt="Avatar" style="width:30%">
                <span>
                    <p>{{i.description}}</p> 
                </span>
                
              </div>
              <br>
              {% endfor %}
    </div>
    
    </body>
    </html> 
{% endblock %}